.card {
    display: flex;
    margin: 0px 100px;
}
.cardConten__recommend {
    width: 250px;
    height: 330px;
    padding: 20px;
    color: white;
    list-style: none;
}
.cardConten__recommend img {
    width: 100%;;
    border-radius: 10px;
}
.cardConten__recommend p {
    margin: 0px;
    color:  hsla(0,0%,100%,0.5);
    padding: 10px 0px;
    font-size: 16px;
}
.cardConten__recommend span {
    font-size: 18px;
}
.title__recommend {
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin: 0px 100px;
}
.cardConten__recommend:hover {
    border-radius: 5px;
    opacity: 0.8;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contain__recomendSong {
    height: 100%vh;
}